/* DialectConverter.css */
.dialect-converter-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
}

.dialect-converter-panel {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background: #EBF4F6;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-height: 50vh;
}

.dialect-converter-column {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.dialect-converter-label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.dialect-converter-textarea {
  width: 100%;
  height: 35vh;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
}

.dialect-converter-textarea.readonly {
  background: #f1f3f4;
}

.dialect-converter-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialect-converter-select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.dialect-converter-button {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background: #09637E;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
}

.dialect-converter-button:hover {
  background: #7AB2B2;
  /* cursor: pointer;  */
}

.dialect-converter-button:disabled {
  background: #088395;
  cursor: not-allowed;
}
